body {
    background-color: #EEE;
    color: #000;
    font-size: 16px;
    padding-top: 50px;
    text-align: center;
}

.starter-template {
  padding: 9em 0 1em 0;
  text-align: center;
}

.navbar{
    background-color: #EEE;
    border-bottom: 1px solid #77a1c1;
    color: #000;
    height: 8em;
    margin-bottom: 20px;
    min-height: 50px;    
}

.navbar ul li a{
    /*border-bottom: 1px solid #77a1c1;*/
    color: #000;
    height: 8em;
    width: 6em;
}

.navbar ul li a:hover{
    background-color: aqua;
}

a {
    color: #000;
    text-decoration: none;
}